Django==4.2.8
rq==1.15.1
django-rq==2.10.1
psycopg2-binary==2.9.9
python-decouple==3.8
djangorestframework==3.14.0
fakeredis==2.20.1
django-redis==5.4.0
gunicorn==21.2.0
drf-nested-routers==0.93.4
django-cors-headers==4.3.1
djangorestframework-datatables==0.7.0
pytz~=2023.3.post1
shapely==2.0.2
numpy==1.26.4